<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let products of filteredProducts; let i = index">
        <div class="col-4">
          <product-card [shopping-cart]="cart" [products]="products"></product-card>
        </div>
        <!-- <div class="w-100" *ngIf="(i + 1) % 3 === 0"></div> -->
      </ng-container>
    </div>
  </div>
</div>